.python-version
uv.lock
*.DS_Store

evolution/*
!evolution/run_script.sh

fibrosis/*
!fibrosis/run_script.sh
!fibrosis/family_tree_metadata.csv

deseq/*
!deseq/run_script.sh
!deseq/run_deseq.R

metagenomics/*
!metagenomics/run_script.sh